@font-face {
    font-family: 'Arial-MT';
    src: url("../assets/fonts/Arial-MT.woff");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    transition: background-image 1s ease-in-out;
    background-blend-mode: multiply;
    background: center/cover, rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    min-height: 220px;
    padding: 20px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    min-height: 260px;
    padding: 20px;
}

.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT', serif;
    font-size: 100px;
    letter-spacing: -4px;
}

.date {
    min-height: 28px;
    font-size: 24px;
    margin-bottom: 20px;
}

/* greeting styles starts */

.greeting {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 48px;
    width: 100vw;
    font-size: 40px;
}

.greeting__message {
    flex: 1;
    padding: 10px;
    text-align: right;
}

.greeting__name {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.greeting__name::placeholder {
    color: #fff;
    opacity: .6;
}

/* greeting styles ends */

.slider__prev {
    left: 20px;
    background-image: url("../assets/svg/slider-prev.svg");
}

.slider__next {
    right: 20px;
    background-image: url("../assets/svg/slider-next.svg");
}

.slider__icon,
.footer__quote-button {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.slider__icon:hover,
.footer__quote-button:hover {
    opacity: 1;
}

.slider__icon:active,
.footer__quote-button:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
}

.slider__icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 180px;
    min-height: 180px;
    text-align: left;
}

.weather__city-input {
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.weather__city-input::placeholder {
    font-size: 20px;
    color: #fff;
    opacity: .6;
}

.weather__icon {
    font-size: 44px;
}

.weather__error {
    margin-top: -10px;
}

.weather__info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}

.footer__quote-button {
    margin-bottom: 30px;
    background-image: url("../assets/svg/reload.svg");
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30vh;
    min-height: 160px;
    padding: 20px;
}

.footer__quote {
    min-height: 32px;
}

.footer__quote-author {
    min-height: 20px;
}

/* media styles starts */

@media screen and (max-width: 768px) {
    .time {
        min-height: 80px;
        font-size: 72px;
    }

    .greeting {
        min-height: 40px;
        font-size: 32px;
    }

    .greeting__message {
        padding: 5px;
    }

    .greeting__name {
        font-size: 32px;
        padding: 5px;
    }
}

/* media styles ends */